*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    overflow-x: hidden;
}

:root{
    --color-section-bg: #1E5AFA;
    --color-text-white: #FFFF;
    --color-text-black: #313131;
    --color-footer: #000F37;
    --color-card: #E7EBEE;
    --font-family-Inter: ;
    --transition: all 400ms ease;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    display: none;
}

body{
    font-family: var(--font-family-Inter);
}

h1, h3, h5{
    color: var(--color-text-white);
    font-weight: 800;
    font-size: 85px;
    line-height: 100%;
    text-align: center;
}

h3,h5{
    font-weight: 700;
    color: var(--color-footer);
    letter-spacing: -3px;
}

h5{
    font-size: 46px;
    font-weight: 600;
}

p{
    font-family: var(--font-family-Inter);
    text-align: left;
    font-size: 20px;
    font-weight: 400;
}

.btn{
    background-color: var(--color-text-white);
    border-radius: 2px;
    color: var(--color-footer);
}

.container{
    max-width: 1380px;
    margin: 0 auto;
}

.card{
    background-color: var(--color-card);
    box-shadow: 0 10px black;
}