/* google-font */
/* 
    font-family: 'Inter', sans-serif;
 */

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    overflow-x: hidden;
}

:root{
    --color-section-bg: #1E5AFA;
    --color-text-white: #FFFF;
    --color-text-black: #313131;
    --color-footer: #000F37;
    --color-card: #E7EBEE;
    --font-family-Inter: 'Inter', sans-serif;
    --transition: all 400ms ease;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    display: none;
}

body{
    font-family: var(--font-family-Inter);
}

h1, h3, h5{
    color: var(--color-text-black);
    font-weight: 800;
    font-size: 85px;
    line-height: 100%;
    text-align: center;
}

h3,h5{
    font-weight: 700;
    font-size: 32px;
    color: var(--color-footer);
    letter-spacing: -3px;
    width: max-content;
    padding: 0px 5px;
}

h5{
    font-size: 46px;
    font-weight: 600;
}

a{
    text-decoration: none;
}

p{
    font-family: var(--font-family-Inter);
    text-align: left;
    font-size: 20px;
    font-weight: 400;
}

.btn{
    background-color: var(--color-text-white);
    border-radius: 2px;
    color: var(--color-footer);
}

.container{
    max-width: 1160px;
    margin: 0 auto;
}

.card{
    background-color: var(--color-card);
    box-shadow: 0 10px black;
}

section{
    height: auto;
    min-height: 120vh;
}

/* --------------- Hero-Section ------------------------- */
.hero_section{
    background-color: var(--color-section-bg);
    margin-bottom: 34%;
}


.nav-bar{
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 ;
    align-items: center;
}

.nav-bar-right{
    padding: 1rem 0;
}


.nav-bar-left > a , .nav-bar-right > a{
    padding-right: 25px;
    color: var(--color-text-white);
}
.app-icon{
    margin-left: -12rem;
    font-size: 32px;
    font-weight: 700;
    color: var(--color-text-white);
}

.nav-bar-right > .action-link-bg {
    background-color: white;
    color: var(--color-footer);
    border-radius: 2px;
    padding: 10px 20px;
} 
.hero_section {
    position: relative;
    overflow: visible;
}

.hero-col1 h1, p{
    color: var(--color-text-white);
    padding: 1rem 12rem;
    text-align: center;
}
.hero-col1 p{
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}

.hero-col2{
    margin: 10px 0 15px 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    /* width: 100%; */
}
.hero-col2 .store-link{
    display: flex;
    justify-content: center;
    margin: 2.5rem 0;
}


.line{
    position: absolute;
    height: 100%;
    top: 0;
}

.thread-line{
    position: absolute;
    top: 100vh;
    right: 20px;
}

.lines .line-1{
    left: 8%;
}


.lines .line-2{
    right: 8%;
}

.lines .line-3{
    right: 27%;
}

.social-icon{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    bottom: 3rem;
    left: 3rem;
}

/* ============= MEDIA QUERY (Medium Devices) =========== */
@media screen and (max-width: 1024px) {
    .hero_section{
        margin-bottom: 55%;
    }
    .nav-bar{
        max-width: 690px;
        margin: 0 auto;
    }
    
    section{
        min-height: 65vh;
    }
    .container{
        max-width: 604px;
        margin: 0 auto;
    }

    .nav-bar-left{
        display: none;
    }

    .hero-col1 h1, p{
        padding: 1rem 2rem;
    }

    .hero-col2{
        width: 100%;
    }

    .hero-col2 img{
        width: 100%;
    }

    .thread-line{
        left: 10px;
        display: block;
    }

}

/* ============= MEDIA QUERY (Medium Devices) =========== */
@media screen and (max-width: 600px) {
    section{
        min-height: 70vh;
    }

    .nav-bar{
        max-width: 280px;
        margin: 0 auto;
    }
    
    .container{
        max-width: 280px;
        margin: 0 auto;
    }

    h1{
        font-size: 30px;
        font-weight: 600;
    }
    
    h3{
        font-size: 32px;
    }
    
    h5{
        font-size: 23px;
    }

    p{
        font-size: 10px;
        font-weight: 300;
    }

    .hero-col1 h1, p{
        padding: 1rem 0.1rem;
    }

    .social-icon{
        display: none;
    }
}